.events-container {
  padding: 50px 80px;
  background-color: #fef3d4;
}

.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.events-title {
  font-size: 42px;
  font-weight: 700;
}

.events-explore {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  cursor: pointer;
  color: #a0522d;
}

.arrow-icon {
  font-size: 22px;
}

.events-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.event-card {
  background: white;
  padding: 18px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
  transition: transform 0.2s ease-in-out;
}

.event-card:hover {
  transform: translateY(-4px);
}

.event-category {
  font-size: 12px;
  color: gray;
  margin-bottom: 3px;
}

.event-heading {
  margin: 4px 0 14px 0;
  font-size: 20px;
  font-weight: 700;
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 16px;
}

.buy-section {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.buy-text {
  font-weight: 600;
  color: #a0522d !important;
}

.arrow-buy {
  color: #a0522d;
}

@media (max-width: 1000px) {
  .events-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .events-card-grid {
    grid-template-columns: 1fr;
  }

  .events-container {
    padding: 20px;
  }
}
