.cards-wrapper {
  padding: 40px 0;
  width: 100%;
  background-color:#0a1733 ;
}

.top-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.heading {
  color: white;
  font-size: 32px;
  font-weight: 700;
  padding-left: 50px;
}

.signup-btn {
  padding: 15px 30px;
  border: 2px solid white;
  background-color: #0a1733;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin-right: 60px;
}

.signup-btn:hover {
  background: white;
  color: #0a1733;
}

.cards-container {
  display: flex;
  gap: 30px;
  padding:20px 60px;
  justify-content: space-between;
}

.card-box {
  background: #0f1f44;
  width: 27%;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 24px;
}

.card-title {
  color: #fff;
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.card-subtitle {
  margin-top: 8px;
  color: #c7c7c7;
  font-size: 14px;
  line-height: 1.4;
}

.buy-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px 0;
  border-radius: 12px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.buy-btn:hover {
  background: white;
  color: #0f1f44;
}

.cart-icon {
  font-size: 20px;
}

@media (max-width: 900px) {
  .cards-container {
    flex-direction: column;
  }

  .card-box {
    width: 100%;
  }
}
