.footer-container {
  background-color: #0d1224;
  color: white;
  padding: 60px 80px;
  font-family: "Inter", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-heading {
  font-size: 45px;
  font-weight: 700;
}

.signup-btn {
  padding: 12px 24px;
  border: 2px solid white !important;
  background: transparent;
  color: white !important;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.footer-line {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 35px 0;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding-bottom: 20px;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-col p {
  margin: 6px 0;
  color: #d9d9d9;
  font-size: 14px;
  cursor: pointer;
}

.footer-col p:hover {
  text-decoration: underline;
}

.store-btn {
  width: 150px;
  margin: 10px 0;
  cursor: pointer;
}

.follow-title {
  margin-top: 18px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 14px;
  font-size: 26px;
  cursor: pointer;
}

.social-icons svg {
  font-size: 26px;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d9d9d9;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-links span {
  cursor: pointer;
}

.footer-links span:hover {
  text-decoration: underline;
}

.globe-icon {
  font-size: 18px;
}

.footer-col p:not(:last-child) {
  margin-bottom: 14px;
}

@media (max-width: 900px) {
  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .footer-columns {
    grid-template-columns: 1fr;
  }

  .footer-container {
    padding: 30px;
  }

  .footer-heading {
    font-size: 32px;
  }
}
