.gyc-container {
  width: 100%;
  margin-top: 80px;
  padding: 40px 60px;
}

.gyc-title {
  font-size: 38px;
  font-weight: 800;
  color: #0a1733;
}

.gyc-subtext {
  margin-top: 10px;
  width: 60%;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.gyc-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.gyc-left {
  width: 35%;
}

.gyc-point {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  font-size: 16px;
  color: #333;
}

.gyc-icon {
  color: #0a1733;
  margin-right: 10px;
}

.gyc-images-wrapper {
  width: 55%;
  position: relative;
  height: 350px;
}

.gyc-image-card {
  width: 85%;
  height: 250px;
  border-radius: 18px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.25);
  background: white;
}

.gyc-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-card-1 {
  top: 0;
  left: 0;
  z-index: 1;
}

.img-card-2 {
  top: 60px;
  left: 40px;
  z-index: 2;
  width: 92%;
}

.img-card-3 {
  top: 120px;
  left: 80px;
  z-index: 3;
  width: 45%;
  height: 200px;
  border-radius: 18px;
}

@media (max-width: 900px) {
  .gyc-content {
    flex-direction: column;
  }

  .gyc-left {
    width: 100%;
  }

  .gyc-images-wrapper {
    width: 100%;
    margin-top: 40px;
  }
}
