.loveus-container {
    margin-top:100px;
    padding: 60px 40px;
    position: relative;
    width: 100%;
}

.loveus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loveus-title {
    font-size: 36px;
    font-weight: 700;
    color: #132043;
}

.loveus-icons {
    display: flex;
    margin-right: 100px;
    gap: 20px;
}

.icon-btn {
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
    padding: 6px;
    background-color: transparent;
    color: hsl(19, 58%, 38%) !important;
    border: solid 2px hwb(31 16% 40%) !important;
}

.icon-btn:hover {
    background: #f1f1f1;
}

.loveus-bg-strip {
    background: #ffe79b;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}

.loveus-card-slider {
    margin-top:50px;
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
    z-index: 2;
    position: relative;
}

.loveus-card-slider::-webkit-scrollbar {
    display: none;
}

.loveus-card {
    background: white;
    min-width: 320px;
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card-desc {
    color: #444;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-name {
    font-weight: 600;
}

.user-role {
    font-size: 12px;
    color: gray;
}
