.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-height: 60vh;
}

.hero-left {
  width: 60%;
}

.signup-btn-1 {
  color: #6b2f13 !important;
  border: solid 2px #6b2f13 !important;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 600 !important;
  cursor: pointer;
  text-transform: none !important;
}

.hero-title {
  font-size: 150px;
  font-weight: 1000;
  color: black !important;
  line-height: 1.1;
  margin-bottom: 30px !important
}

.hero-subtext {
  font-size: 18px;
  color: #444;
  margin: 10px;
}

.hero-right {
  position: relative;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-demo {
  background-color: none !important;
  border: none !important;
  color: #6b2f13 !important;
  text-transform: none !important;
}

.bg-shape {
  position: absolute;
  width: 280px;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  z-index: 1;
}

.hero-image {
  position: relative;
  z-index: 2;
  height: 720px;
  object-fit: contain;
  margin-bottom:80px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
