.shoes-section {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-color: #7a3c09;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 80px;
}

.world-map {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.floating-card {
  position: absolute;
  top: 120PX;
  left: 180px;
  width: 230px;
  background: white;
  border-radius: 16px;
  padding: 0 0 15px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 25px;
  z-index: 3;
}

.floating-card-img {
  width: 100%;
  height: 170px;
  top:10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

.floating-card-text {
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
  color: #3a3a3a;
}

.center-text {
  margin-top:200px;
  text-align: center;
  z-index: 3;
}

.big-number {
  font-size: 62px;
  font-weight: 800;
  color: white;
  margin: 0;
  letter-spacing: 2px;
}

.sub-text {
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .floating-card {
    top: 40px;
    left: 20px;
    width: 180px;
  }

  .big-number {
    font-size: 42px;
  }

  .sub-text {
    font-size: 20px;
  }
}
