.joinus-card {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 40px 40px;
  border-radius: 20px;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.joinus-signup-button {
  margin-top: 20px !important;
  padding: 12px 50px!important;
  background-color: white;
  color: hsl(31, 58%, 38%)!important;
  border:solid 2px hsl(31, 58%, 38%) !important;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.joinus-left {
  flex: 1;
  margin-top:80px;
}

.joinus-title {
  color:black;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.joinus-points {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}

.red {
  background-color: #ff6b6b;
}

.yellow {
  background-color: #f0c419;
}

.green {
  background-color: #06d6a0;
}

.point {
  display: flex;
  align-items: center;
  gap: 8px;
  color:black;
  font-size: 16px;
}

.tick-icon {
  color: #4ade80;
  font-size: 26px;
}

.browser-bar {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.joinus-right {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-right:100px;
  width: fit-content;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 12px 30px rgba(0,0,0,0.5);
}

.joinus-image {
  width: 120%;
  max-width: 400px;
  height: 300px;
  border-radius: 14px;
  object-fit: cover;
}

.joinus-image-wrapper {
  position: relative;
  display: inline-block;
}

.play-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 32px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin-left: 6px;
}

@media (max-width: 900px) {
  .joinus-card {
    flex-direction: column;
    text-align: center;
  }

  .joinus-right {
    width: 100%;
  }

  .joinus-image {
    max-width: 100%;
  }
}
